body{
	font-family: 'Lato', sans-serif;
   
}

#content{
    margin-top:-20px;
}
.navbar-fixed {
    height: 0px;

}

#mynavbar{
    background-color:transparent;
     border-style: none;
  
    
}

#mynavbar a {
    color: #FFF !important;
}

/*

#mynavbar{
	background-color: transparent;
	border-bottom-style: none;
	 padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
    transition-delay:0.1s;



}
.navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
    border-bottom-style: solid;
    border-bottom-color: #FFF;
    /*
    --webkit-transition:1.0s;
    --moz-transition:1.0s;
    --o-transition:1.0s;

    */

    /*

}


.navbar-default .navbar-brand {
    color: #FFF;
}

*/
@font-face {
    font-family: 'FutstencilSerif';
    src:url('../fonts/FutstencilSerif.ttf.woff') format('woff'),
        url('../fonts/FutstencilSerif.ttf.svg#FutstencilSerif') format('svg'),
        url('../fonts/FutstencilSerif.ttf.eot'),
        url('../fonts/FutstencilSerif.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

footer.page-footer{

      background-color:#6F2C2C;

}