.main{
	height:400px;
	overflow: hidden;
}

#portfoliothumb{
	height:400px;
}
#portfoliothumb h3{
     font-family: 'Lato', sans-serif;
	}

.ob{
	background-color: rgba(0,0,0,0.6);
	height:280px;
	text-align: center;
	transition:0.5s;
}

.ob #viewbtn{
	margin-top: 20%;
}

.main:hover .ob{
	transform:translateY(-300px);
}